body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #f0f3ff, #c3dafe);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 span {
  display: inline-block;
}
